*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}
.header{
    background-image: url(./img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
}
btn-primary{
    background-color:blue;
    color: white;

}
.plns{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 10px
}
.title{
    
    text-align: right;
    width: 300px;
    margin-left: 800px;
    margin-top: 100px;
}
.second_sec{
    display: flex;
}
.plan{
    display: flex;
   
    
}
.jobs{

    margin: 10px;
    width: 100px;
    align-items: center;
    margin: auto;
}
.jobs img{
    width: 50px;
}
.person img {
        width: 400px;
        margin-left: 200px;
}
.des{
    width: 200px;
    margin-top:150px;
    margin-left: 200px;
}